
{
    "extends": "airbnb-base",
    "ignorePatterns": [
        "public"
    ],
    "rules": {
        "no-underscore-dangle": [
            "error",
            {
                "allow": [
                    "_id"
                ]
            }
        ]
    }
}
